/* Variables */
:root {
  --primary-color: rgba(255, 0, 0, 1);
  --secondary-color: rgba(226, 226, 226, 1);
  --third-color: rgba(100, 100, 100, 1);
}
/* Variables end */

.transition {
  transition: all ease-in-out 0.3s;
  -webkit-transition: all ease-in-out 0.3s;
  -moz-transition: all ease-in-out 0.3s;
  -ms-transition: all ease-in-out 0.3s;
  -o-transition: all ease-in-out 0.3s;
}

body {
  font-family: 'Open Sans' !important;
  background: white;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: var(--third-color);
}

p {
  text-wrap: pretty;
}

a {
  text-decoration: none !important;
}

ul {
  padding: 0 !important;
  list-style: none;
}

.open {
  font-family: 'Open Sans';
}

button:focus {
  box-shadow: none !important;
}

a.btnLanding {
  background: var(--primary-color);
  color: white;
  width: fit-content;
  font-weight: 700;
  text-align: center;
  font-size: 1.25rem;
  padding: 0.5rem 0.75rem;
  border-radius: 8px;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
}

a.btnLanding:hover {
  background: black;
}

.titleH2 {
  font-weight: 900;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  color: black;
}

.titleH3 {
  font-weight: bold;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  background: var(--primary-color);
  padding: 0.75rem 1rem;
  color: white;
}

.titleH4 {
  color: black;
  font-weight: 700;
  margin-bottom: 1rem;
  font-size: 1.15rem;
}

.slick-prev::before,
.slick-next::before {
  color: #dfdfdf;
}

/* MEDIA QUERIES */
@media (min-width: 576px) {
}

@media (min-width: 768px) {
  .titleH2 {
    font-size: 2.5rem;
  }

  .prev {
    left: 60px !important;
  }

  .next {
    right: 60px !important;
  }
}

@media (min-width: 992px) {
  .prev {
    left: 170px !important;
  }

  .next {
    right: 170px !important;
  }
}

@media (min-width: 1200px) {
  .titleH2 {
    font-size: 3rem;
  }
}

@media (min-width: 1400px) {
}

@media (min-width: 1600px) {
}

@media (min-width: 1800px) {
}
