.accordion-item {
  border: none !important;
  border-bottom: solid 1px #d9dfe7 !important;
}

.accordion-body {
  color: black;
  font-size: 0.85rem;
}

.accordion-button {
  color: #8d8d8d !important;
}

.accordion-button:hover {
  color: var(--primary-color) !important;
}

.accordion-button:not(.collapsed) {
  color: var(--primary-color) !important;
  background-color: transparent !important;
  box-shadow: none !important;
}
