footer {
  background: #f4f4f4;
  padding-top: 60px;
  padding-bottom: 60px;
}

footer .contentLogo {
  text-align: center;
}

footer .contentLogo img {
  max-width: 250px;
  margin-bottom: 30px;
}

footer .contentLogosIso {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 30px;
}

footer .contentLogosIso img {
  max-width: 70px;
}

footer .contentYear {
  padding-top: 1rem;
  border-top: solid 1px var(--third-color);
  text-align: center;
  font-size: 0.85rem;
}

/* MEDIA QUERIES */
@media (min-width: 576px) {
}

@media (min-width: 768px) {
  footer .contentLogo {
    padding-bottom: 1rem;
  }

  footer .contentLogo img {
    margin-bottom: 0;
    max-width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  footer .contentLogosIso {
    margin-bottom: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 1rem;
  }
}

@media (min-width: 992px) {
  footer .contentLogo img,
  footer .contentLogosIso img {
    object-fit: cover;
    height: 65px;
    max-width: 100%;
  }
}

@media (min-width: 1200px) {
}

@media (min-width: 1400px) {
}

@media (min-width: 1600px) {
}

@media (min-width: 1800px) {
}
