.formulario {
  margin-bottom: 30px;
  background: var(--secondary-color);
  border-radius: 8px;
  overflow: hidden;
}

.formulario input,
.formulario textarea {
  border: none;
}

.formulario form {
  text-align: left;
}

.inputContainer {
  position: relative !important;
  margin-bottom: 32px;
}

.input {
  padding: 0.375rem 0.75rem;
}

.input:focus,
.form-control:focus {
  box-shadow: none !important;
}

.formulario textarea {
  resize: none;
}

.label {
  position: absolute !important;
  left: 20px !important;
  top: 8px !important;
  font-size: 16px !important;
  transition: all 0.3s ease !important;
  pointer-events: none !important; /* Evita que el label sea clickeable */
  color: grey;
}

.labelComments {
  top: 75px !important;
}

.inputContainer:not(.selectContainer):has(.input:focus) .label {
  color: var(--primary-color);
  top: -20px !important;
  font-size: 12px !important;
}

.inputContainer:has(.input:focus) .label,
.inputContainer:has(.input:not(:placeholder-shown)) .label {
  color: var(--primary-color);
  top: -20px !important;
  font-size: 12px !important;
}

.contentPadding {
  padding: 1.5rem;
}

.frase {
  background: var(--primary-color);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.frase p {
  text-align: center;
  margin-bottom: 0;
  font-weight: 900;
  font-size: 1.15rem;
}

.btnSend {
  background-color: var(--primary-color) !important;
  color: white !important;
  width: 100%;
  margin-top: 16px;
  font-size: 1rem !important;
  font-weight: 900 !important;
  padding-top: 0.75rem !important;
  padding-bottom: 0.75rem !important;
}

.btnSend:hover {
  background-color: black !important;
  color: white !important;
}

/* MEDIA QUERIES */
@media (min-width: 576px) {
  .formulario {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  .frase p {
    font-size: 1.5rem;
  }
}

@media (min-width: 768px) {
  .formulario {
    width: 100%;
  }

  .frase p {
    font-size: 1.25rem;
  }

  .btnSend {
    font-size: 1.25rem !important;
  }
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
  .frase p {
    font-size: 1.5rem;
  }

  .contentPadding {
    padding: 2rem;
  }
}

@media (min-width: 1400px) {
  .frase p {
    font-size: 1.75rem;
  }

  .btnSend {
    font-size: 1.5rem !important;
  }
}

@media (min-width: 1600px) {
  .formulario {
    width: 80%;
  }
}
